/* STYLE DE LA PAGE LISTE DES APPRENANT  */

/* Style pour l'entête de la page   */
.contenair {
    background-color: black;
}

header {
    background-color: black;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    color: orangered;
    justify-content: space-between;
    margin-bottom: 40px;

}


.logo p {
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
}

.logo img {
    width: 100px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.nav_barre ul {
    list-style: none;
}
.nav_barre
{
    margin: 40px;
}
.nav_barre ul li {
    position: relative;
    display: inline;
    margin: 20px;
    font-size: x-large;
}
.nav_barre ul li a:hover
{
    background-color: orange;
    border: 2px solid orangered;
}
h3 a
{
    background: white;
    color: orangered;
    list-style: none;
}
h3 a:hover
{
    background-color: aqua;
}
/* Fin Style Etête de pâge  */

h3 
{
    text-align: center;
    color: orangered;
    font-size: xx-large;
}
h4
{
    margin-top: -20px ;
    padding-bottom :15px;
    border-bottom: solid black thin;
    background-color:#f8d7da;
    width: 400px;;
    position:relative;
    font-size: x-large;
  
}
table
{
    background-color: aqua;
    font-style: italic;
    box-shadow:  6px 6px #cccaca;
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}
table th
{
    background-color: rgb(248, 174, 125);
}
table td
{
    background-color: aliceblue;
}
table th, td
{
    border-collapse: collapse;
    border: 2px solid orangered;
    border-radius: 5px;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
    min-height: 50px;
    line-break: strict;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:.3s ease all;
    cursor: pointer;
    opacity: 1;
    animation: fadein.5s linear forwards;
}
/*FIN  STYLE DE LA PAGE LISTE DES APPRENANT  */

a
{
    border: 1px solid orangered;
    background: rgb(29, 20, 20);
    color: white;
    padding: 8px 20px;
    transform: translateY(2px);
    border-radius: 5px;
    font-size: x-large;

}
a:hover
{
    background-color: rgb(59, 59, 212);
    border: blue;
}