/* STYLE DE LA PAGE LISTE DES APPRENANT  */

/* Style pour l'entête de la page   */
.contenair {
    background-color: black;
}

header {
    background-color: black;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    color: orangered;
    justify-content: space-between;
    margin-bottom: 40px;

}


.logo p {
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
}

.logo img {
    width: 100px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.nav_barre ul {
    list-style: none;
}
.nav_barre
{
    margin: 40px;
}
.nav_barre ul li {
    position: relative;
    display: inline;
    margin: 20px;
    font-size: x-large;
}
.nav_barre ul li a:hover
{
    background-color: orange;
    border: 2px solid orangered;
}
h3 a
{
    background: white;
    color: orangered;
    list-style: none;
}
h3 a:hover
{
    background-color: aqua;
}
/* Fin Style Etête de pâge  */

h3 
{
    text-align: center;
    color: orangered;
    font-size: xx-large;
}
h4
{
    margin-top: -20px ;
    padding-bottom :15px;
    border-bottom: solid black thin;
    background-color:#f8d7da;
    width: 400px;;
    position:relative;
    font-size: x-large;
  
}

table th
{
    background-color: rgb(248, 174, 125);
}
table td
{
    background-color: aliceblue;
}
table th, td
{
    /* border-collapse: collapse; */
    border: 2px solid orangered;
    border-radius: 5px;
    cursor: pointer;
}
/*FIN  STYLE DE LA PAGE LISTE DES APPRENANT  */

.lien a
{
    border: 1px solid orangered;
    background: rgb(29, 20, 20);
    color: white;
    padding: 8px 20px;
    transform: translateY(2px);
    border-radius: 5px;
    font-size: x-large;

}
a:hover
{
    background-color: rgb(59, 59, 212);
    border: blue;
}


/* PIED DE PAGE */
footer {
    padding: 20px;
    margin-top: 100px;
    background-color: black;
    color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.logo-odk img {
    width: 125px;
}

/* STYLE POUR LES RESEAU SOCIAUX  */
.contactez-nous #apple,
#twitter,
#facebook,
#github {
    font-size: 3em;
    background-color: #00000080;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080 inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

/* APPORTER DE L'ANIMATION  */
#twitter {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}
#apple {
    animation-delay: 1ms;
}

@keyframes animate {
    from {
        filter: hue-rotate(360deg);
    }
}

/* FIN STYLE OUR LES RESAUX SOCIAUX  */